<div class="nested-fields">
  <%= f.select(:subject_heading_type_id, @subject_heading_types.collect{|s| [s.display_name, s.id]}, {}, {class: 'form-control col-sm-4'}) %>
  <%= f.text_field :term, class: 'form-control col-sm-4' %>
  <%= f.select(:subject_type_id, @subject_types.collect{|s| [s.display_name, s.id]}, {}, {class: 'form-control col-sm-4'}) %>
  <%= link_to_remove_association t('page.remove'), f, data: {confirm: t('page.are_you_sure')} %>
</div>
